streamlit
pandas
numpy==1.26.4
thinc==8.2.2
spacy==3.7.4
torch>=2.0.0
psutil>=5.9.0
spacy-curated-transformers>=0.2.2
# Include both models to ensure fallback works
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl
